* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.height-control {
  opacity: 0;
}
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adicionar-palavras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.input-palavras {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.input-palavras ul {
  text-align: left;
}
.input-palavras input {
  padding: 0.5em 0.8em;
  width: 70%;
  font-size: 30px;
  border: 1px solid black;
}
.input-palavras button {
  padding: 0.3em 0.8em;
  background-color: blue;
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-size: large;
  border-radius: 1px;
}
.palavras-no-db {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.main {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 4vw;
  font-size: 4vh;
}
.btn {
  padding: 1em 2em;
  display: block;
  color: white;
  background-color: rgb(17, 13, 209);
  text-decoration: none;
  border-radius: 1em;
}
.footer {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(148, 220, 238);
  justify-content: center;
  align-items: center;
}

.main-jogo {
  display: flex;
  height: 85vh;
}
.forca {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hangman {
  max-width: 100%;
  max-height: 100%;
}
.jogo-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.letra-da-palavra {
  margin: 0 5px;
}
.palavra {
  text-align: center;
  height: 10%;
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.letras-erradas {
  height: 15%;
  border: 1px solid red;
  color: red;
  width: 75%;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teclado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.botoes-teclado {
  padding: 12px;
}
.primeira-coluna,
.segunda-coluna,
.terceira-coluna {
  margin-bottom: 5px;
}

@media (min-width: 481px) and (max-width: 820px) {
  .main-jogo {
    flex-direction: column;
    height: auto;
  }
  .forca {
    width: 80%;
    margin: auto;
    margin-bottom: 0;
  }
  .adicionar-palavras {
    height: 100vh;
    padding: 20px 0;
  }
  .letras-erradas {
    width: 100%;
    margin: auto;
  }
  .jogo-info {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .palavra {
    height: auto;
    width: auto;
  }
  .letras-erradas {
    margin: auto;
    padding: 1em 0;
    width: 80%;
  }
  .letras-erradas span {
    width: auto;
  }
  .letra-da-palavra {
    width: 100%;
    text-align: center;
  }
  .teclado {
    margin: auto;
    height: 300px;
    width: 100%;
    padding: auto;
  }
  .botoes-teclado {
    padding: 25px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 30px;
    text-align: center;
  }
  .btn {
    width: 80%;
    text-align: center;
  }
  .adicionar-palavras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 20px;
  }
  .input-palavras {
    margin-bottom: 30px;
  }
  .input-palavras input {
    width: 100%;
    font-size: 20px;
  }
  .palavras-no-db {
    margin-bottom: 30px;
  }
  .main-jogo {
    flex-direction: column;
    height: auto;
  }
  .forca {
    width: 80%;
    margin: auto;
    margin-bottom: 0;
  }
  .letras-erradas {
    width: 100%;
    margin: auto;
  }
  .jogo-info {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .palavra {
    height: auto;
    width: auto;
  }
  .letras-erradas {
    margin: auto;
    padding: 1em 0;
    width: 80%;
  }
  .letras-erradas span {
    width: auto;
  }
  .letra-da-palavra {
    width: 100%;
    text-align: center;
  }
  .teclado {
    margin: 10px 0;
    height: 265px;
    width: 100%;
    padding: auto;
  }
  .botoes-teclado {
    padding: 10px;
  }
  .footer {
    margin-top: 23px;
  }
}
