* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 4vw;
  font-size: 4vh;
}
.btn {
  padding: 1em 2em;
  display: block;
  color: white;
  background-color: rgb(17, 13, 209);
  text-decoration: none;
  border-radius: 1em;
}
.footer {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(148, 220, 238);
  justify-content: center;
  align-items: center;
}

.main-jogo {
  display: flex;
  height: 85vh;
}
.forca {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hangman {
  max-width: 100%;
  max-height: 100%;
}
.jogo-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.letra-da-palavra {
  margin: 0 5px;
}
.palavra {
  text-align: center;
  height: 25%;
  width: 100%;
}
.letras-erradas {
  height: 25%;
}
.letras-erradas h2 {
  text-align: center;
}
.teclado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.botoes-teclado {
  padding: 13px;
}
.primeira-coluna,
.segunda-coluna,
.terceira-coluna {
  margin-bottom: 5px;
}
